/* ===== NAVBAR ===== */

.nav-link {
color: #86efac;
font-weight: bold;
transition: 0.3s;
}

.nav-link:hover {
color: #f472b6;
}

.mobile-link {
    color: #86efac;
    font-size: 1.3rem;
    font-weight: bold;
    transition: 0.3s;
}

.mobile-link:hover {
    color: #ec4899;
}


/* ===== GLITCH ===== */

@keyframes glitch {
0% { text-shadow: 2px 2px #ff00de, -2px -2px #00ffff; }
50% { text-shadow: -2px -2px #ff00de, 2px 2px #00ffff; }
100% { text-shadow: 2px 2px #ff00de, -2px -2px #00ffff; }
}

.glitch-text:hover {
animation: glitch 0.3s infinite linear;
}

/* ===== NEON ===== */

@keyframes neonCycle {
0% { color: #22d3ee; text-shadow: 0 0 10px #22d3ee; }
50% { color: #ec4899; text-shadow: 0 0 10px #ec4899; }
100% { color: #22d3ee; text-shadow: 0 0 10px #22d3ee; }
}

.neon-cycle {
animation: neonCycle 8s infinite alternate;
}
