/* animations.css */

/* --- BASE CONFIG --- */
.reveal-on-scroll {
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
    will-change: transform, opacity;
}

/* --- DIRECTIONS --- */

/* Slide from Left */
.reveal-left {
    transform: translateX(-100px);
}

/* Slide from Right */
.reveal-right {
    transform: translateX(100px);
}

/* Slide from Up (Traditional "Drop") */
.reveal-up {
    transform: translateY(-100px);
}

/* Slide from Down (Traditional "Rise") */
.reveal-down {
    transform: translateY(100px);
}

/* Zoom In Effect */
.reveal-zoom {
    transform: scale(0.8);
}


/* --- THE TRIGGER --- */
/* When JS adds .is-active, everything returns to its natural position */
.reveal-on-scroll.is-active {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
}

/* Animations */
@keyframes glitch {
    0% {
        text-shadow: 2px 2px #ff00de, -2px -2px #00ffff;
    }

    25% {
        text-shadow: -2px -2px #ff00de, 2px 2px #00ffff;
    }

    50% {
        text-shadow: 2px -2px #ff00de, -2px 2px #00ffff;
    }

    75% {
        text-shadow: -2px 2px #ff00de, 2px -2px #00ffff;
    }

    100% {
        text-shadow: 2px 2px #ff00de, -2px -2px #00ffff;
    }
}

.glitch-text:hover {
    animation: glitch 0.3s infinite linear;
}

@keyframes neonCycle {
    0% {
        color: #22d3ee;
        text-shadow: 0 0 10px #22d3ee, 0 0 20px #22d3ee;
    }

    50% {
        color: #ec4899;
        text-shadow: 0 0 10px #ec4899, 0 0 20px #ec4899;
    }

    100% {
        color: #22d3ee;
        text-shadow: 0 0 10px #22d3ee, 0 0 20px #22d3ee;
    }
}

.neon-cycle {
    animation: neonCycle 8s infinite alternate;
}

/* Navbar Links */
.nav-link {
    color: #86efac;
    font-weight: bold;
    transition: 0.3s;
}

.nav-link:hover {
    color: #f472b6;
}

.mobile-link {
    color: #86efac;
    font-size: 1.25rem;
    font-weight: bold;
}
